<h1>Checkin</h1>

<div class="container-columns">

  <div class="container-content" *ngIf="!isLoading">

    <h2>Enter in your phone number to checkin</h2>

    <section>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="phone">Phone*</label>
            <input type="text" class="form-control" formControlName="phone" id="phone" [textMask]="{mask: phoneNumberMask}">
            <app-validation-message [control]="form.controls.phone" label="Phone"></app-validation-message>
          </div>
        </div>
        <div class="cta">
          <button type="submit" class="btn btn-primary btn-right">Login</button>
        </div>
      </form>
    </section>

  </div>

  <div class="container-content" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
</div>
