/**********
Fonts
***********/
$font-family:             'Roboto';


/**********
Colors
***********/
$color-white:             #fff;
$color-red:               #AB2318;
$color-tan:               #927E6E;
$color-brown:             #58311d;
$color-gold:              #C28D00;
$color-grey:              #9B9B9B;
$color-grey-mid:          #7F6B5B;
$color-grey-light:        #EAE7DF;
$color-grey-border:       #979797;
$color-button-primary:    #A63C39;
$color-button-secondary:  rgba(155,155,155,0.7);
$color-label:             #451500;
$carousel-control-color:  #000000;


/**********
Breakpoints
***********/
$break-small:             480px;
$break-medium:            720px;
$break-large:             960px;
$break-xl:                1300px;
